.App-container{
  background-color: rgb(231, 218, 200);
  padding-top: 5%;
  height: 100vh;
}

.main-form-container{
margin-top: 0%;
/* background-color: rgb(232, 233, 162); */
background-size: cover;
} 
.information-viewer{
  margin-left: 10%;
 
}
.dropdown-names{
font-size: 15px;
color: rgb(58, 49, 49);
font-weight: bold;
font-family: Helvetica, sans-serif;
} 
.btn-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
} 
.information-heading{
  font-size: 19px;
  text-align: center;
  font-weight: bold;

} 
.submitBtn:hover{
  background-color: rgb(197, 132, 11);
  font-weight: 600;
}
.get-direction-btn:hover{
  background-color: rgb(80, 1, 1);
  font-weight: 600;
}

.information-form-container{
/* border: 0.1px solid rgb(161, 147, 147) ; */
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
padding:15px; 
border-radius: 15px;
background-color: azure;
}

/* .btn-size{
  margin-right:20px ;
  margin-left: 20px;
} */

/* ./styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
